<div>

  <div>
    <h2 class="card-header text-center">{{ title }}</h2>
  </div>

  <div class="card-body">

    <img src={{image}} alt="User Network" class="mx-auto d-block">

    <div class="list-group">

      <button type="button" class="btn btn-secondary btn-lg btn-block" data-placement="right" ngbPopover="Query All Users from the database"
      popoverTitle="GET Request">View All Users</button>

      <button type="button" class="btn btn-secondary btn-lg btn-block" data-placement="right" ngbPopover="Query All Users from the database"
      popoverTitle="GET Request">Register User</button>

      <button type="button" class="btn btn-secondary btn-lg btn-block" data-placement="right" ngbPopover="Query All Users from the database"
      popoverTitle="GET Request">Find User</button>

      <button type="button" class="btn btn-secondary btn-lg btn-block" data-placement="right" ngbPopover="Query All Users from the database"
      popoverTitle="GET Request">Remove User</button>


    </div>



  </div>


</div>
