<div>

  <div>
    <h2 class="card-header text-center">{{title}}</h2>
  </div>

  <div class="card-body">
    <img src={{image}} alt="User Network" class="mx-auto d-block">
    <div class="list-group">
      <button class="btn btn-secondary btn-lg btn-block" ngbPopover="Query All Users from the database" popOverTitle="GET Request">View All Users
      </button>
      <button class="btn btn-secondary btn-lg btn-block" ngbPopover="Query All Users from the database" popOverTitle="POST Request">Register New Users
      </button>
      <button class="btn btn-secondary btn-lg btn-block" ngbPopover="Query All Users from the database" popOverTitle="GET Request">Find a User
      </button>
      <button class="btn btn-secondary btn-lg btn-block" ngbPopover="Query All Users from the database" popOverTitle="DELETE Request">Delete a User
      </button>
    </div>
  </div>

</div>