button {
<<<<<<< HEAD
  margin-top: 3%
=======

  margin-top: 3%;

>>>>>>> main
}

.card-title {
  margin-top: 2%;
  margin-bottom: 2%;
}
<<<<<<< HEAD

#foundUser {
  margin-top: 3%
}
=======
>>>>>>> main
