<div>

  <div>
    <h2 class="card-header text-center">{{ title }}</h2>
  </div>

  <div class="card-body">

    <ul *ngFor="let u of users" class="list-group">

      <li class="list-group-item">Id: {{ u.id }}</li>
      <li class="list-group-item">First Name: {{ u.firstName }}</li>
      <li class="list-group-item">Last Name: {{ u.lastName }}</li>
      <li class="list-group-item">Username: {{ u.username }}</li>
      <li class="list-group-item">Email: {{ u.email }}</li>
      <br />
    </ul>


    <!-- IF there are no Users in the array, display this HTML (use a structural directive) -->
    <div *ngIf="users.length == 0">
      {{clientMessage.message}}
    </div>

    <div>
      <button class="btn btn-secondary btn-center" (click)="findAllUsers()">Fetch Users!</button>
    </div>


    <script>

      function something() {
        return "testing!"
      }
    </script>


  </div>
</div>
